<%= form_for(quest) do |f| %>
  <% if quest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quest.errors.count, "error") %> prohibited this quest from being saved:</h2>

      <ul>
      <% quest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quest_name %>
    <%= f.text_field :quest_name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :req %>
    <%= f.text_area :req %>
  </div>

  <div class="field">
    <%= f.label :day %>
    <%= f.select :day, [1,2,3] %>
  </div>

  <div class="field">
    <%= f.label :quest_type %>
    <%= f.select :quest_type, ["Main", "Item", "Side", "Cash"] %>
  </div>

  <div class="field">
    <%= f.label :money_output %>
    <%= f.number_field :money_output %>
  </div>

  <div class="field">
    <%= f.label :resource_type %>
    <%= f.select :inf_type, ["Public", "Market", "Seedy", "Royal"] %>
  </div>

  <div class="field">
    <%= f.label :resource_output %>
    <%= f.number_field :inf_output %>
  </div>

  <div class="field">
    <%= f.label :clue_output %>
    <%= f.select :clue_output, Clue.all.collect{|c| [c.name, c.id]}, {:include_blank => true} %>
  </div>

  <div class="field">
    <%= f.label :item_output %>
    <%= f.select :item_output,  [0]+Item.all.collect{|c| c.id} %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
