<p id="notice"><%= notice %></p>

<h1>Quests</h1>
<div style="display: inline-flex">
  <%= button_to 'New Quest', new_quest_path, method: :get %>
  <%= form_tag({:action => "index"}, {:method => :get}) do %>
  <%= hidden_field_tag(:search, "main") %>
  <div class="">
    <%= submit_tag 'Show Only Main Quests' %>
  </div>
  <% end %>
  <%= form_tag({:action => "index"}, {:method => :get}) do %>
  <%= hidden_field_tag(:search, "item") %>
  <div class="">
    <%= submit_tag 'Show Only Item Quests' %>
  </div>
  <% end %>
  <%= form_tag({:action => "index"}, {:method => :get}) do %>
  <%= hidden_field_tag(:search, "side") %>
  <div class="">
    <%= submit_tag 'Show Only Side Quests' %>
  </div>
  <% end %>
  <%= form_tag({:action => "index"}, {:method => :get}) do %>
  <%= hidden_field_tag(:search, "cash") %>
  <div class="">
    <%= submit_tag 'Show Only Cash Quests' %>
  </div>
  <% end %>

</div>


<table class="table">
  <thead>
    <tr>
      <th>Quest name</th>
      <th>Description</th>
      <th>Day</th>
      <th>Quest type</th>
      <th>Money output</th>
      <th>INF output</th>
      <th>Clue output</th>
      <th>Item output</th>
      <th>Has notes?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quests.each do |quest| %>
      <tr>
        <td><%= quest.quest_name %></td>
        <td><%= quest.description %></td>
        <td><%= quest.day %></td>
        <td><%= quest.quest_type %></td>
        <td><%= quest.money_output %>£</td>
        <td><%= quest.inf_output %><span class="circle circle<%=quest.convert_type_to_int%>"></span></td>
        <td><%= quest.clue_output!=0 && !quest.clue_output.nil? ? link_to(Clue.find(quest.clue_output).name, Clue.find(quest.clue_output)) : "No Clue" %></td>
        <td><%= quest.item_output!=0 ? link_to(Item.find(quest.item_output).name, Item.find(quest.item_output)) : "No Item" %></td>
        <td><%= quest.notes.empty? ? "No notes" : "Has notes" %></td>
        <td><%= link_to 'Show', quest %></td>
        <td><%= link_to 'Edit', edit_quest_path(quest) %></td>
        <td><%= link_to 'Destroy', quest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
