<p id="notice"><%= notice %></p>

<p>
  <strong>Quest name:</strong>
  <%= @quest.quest_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @quest.description %>
</p>

<p>
  <strong>Requirements:</strong>
  <%= @quest.req %>
</p>

<p>
  <strong>Day:</strong>
  <%= @quest.day_to_string %>
</p>

<p>
  <strong>Quest type:</strong>
  <%= @quest.quest_type %> Quest
</p>

<p>
  <strong>Money output:</strong>
  <%= @quest.money_output %>£
</p>
<p>
  <strong>Info output:</strong>
  <%= @quest.inf_output %><span class="circle circle<%=@quest.convert_type_to_int%>"></span>
</p>
<p>
  <strong>Clue output:</strong>
  <%= @quest.clue_output!=0 && !@quest.clue_output.nil? ? link_to(Clue.find(@quest.clue_output).name, Clue.find(@quest.clue_output)) : "No Clue" %>
</p>


<p>
  <strong>Item output:</strong>
  <%= @quest.item_output!=0 ? link_to(Item.find(@quest.item_output).name, Item.find(@quest.item_output)) : "No Item" %>
</p>

<p><strong>Current Teams:</strong></p>
<ul>
  <% @quest.recieved_quests.sort_by{|s| s.status}.each do |rc| %>
    <% team = Team.find(rc.team_id) %>
    <li><%=link_to "#{team.phone_num}", team%> -- <%=(rc.status==2 ? "Completed" : "In Progress") %></li>
  <% end %>
  <%= "<li>No teams have recieved this quest.</li>".html_safe if @quest.recieved_quests.sort_by{|s| s.status}.empty? %>
</ul>

<p>
  <strong>Notes:</strong>
  <%= @quest.notes %>
  <%= "No notes" if @quest.notes.empty? %>
</p>





<%= link_to 'Edit', edit_quest_path(@quest) %> |
<%= link_to 'Back', quests_path %>
