<p id="notice"><%= notice %></p>
<% if !session[:random_team].nil? %>
  <h2><%= "#{session[:random_team]["guild_name"]} is the new random team! "%> </h2>
  <% session[:random_team]=nil %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Rosarian Total Points</th>
      <th>Lamplighter Total Points</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%=@r_points%></th>
      <th><%=@l_points%></th>
    </tr>
  </tbody>
</table>

<h1>Teams</h1>

<table class="table">
  <thead>
    <tr>
      <%= "<th>Phone num</th>".html_safe if current_admin.has_role? :admin %>
      <th>Guild Name</th>
      <th>Faction</th>
      <% if current_admin.has_role? :admin %>
        <th>Money</th>
        <th>Public info</th>
        <th>Market info</th>
        <th>Seedy info</th>
        <th>Royal info</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each.sort_by{|t| t.guild_name}.each do |team| %>
      <tr>
        <%="<td> #{team.phone_num} </td>".html_safe if current_admin.has_role? :admin %>
        <td><%= team.guild_name %></td>
        <td><%= team.faction %></td>
        <% if current_admin.has_role? :admin %>
          <td><%= team.money %>£</td>
          <td><%= team.blue_info %> <div class="circle circle0"></div></td>
          <td><%= team.red_info %> <div class="circle circle1"></div></td>
          <td><%= team.green_info %> <div class="circle circle2"></div></td>
          <td><%= team.orange_info %> <div class="circle circle3"></div></td>
        <% end %>
        <td><%= link_to 'Show', team  %></td>
        <td><%= link_to 'Edit', edit_team_path(team) if current_admin.has_role? :admin%></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' }if current_admin.has_role? :admin %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_admin.has_role? :admin %>

  <%= button_to 'New Team', new_team_path, method: :get %>
  <%= button_to 'Pick Rosarian Team', pick_r_path, method: :get %>
  <%= button_to 'Pick Lamplighter Team', pick_l_path, method: :get%>
  <%= form_tag({:action => "send_rosarians_message"}, {:method => :patch}) do %>
    <%= text_area_tag 'message' %>
    <div class="">
      <%= submit_tag 'Send All Rosarians Message' %>
    </div>
  <% end %>

  <%= form_tag({:action => "send_lamplighters_message"}, {:method => :patch}) do %>
    <%= text_area_tag 'message' %>
    <div class="">
      <%= submit_tag 'Send All Lamplighters Message' %>
    </div>
  <% end %>

<% end %>
