<p id="notice"><%= notice %></p>

<p>
  <strong>Phone num:</strong>
  <%= @team.phone_num %>
</p>

<p>
  <strong>Guild Name:</strong>
  <%= @team.guild_name %>
</p>

<p>
  <strong>Id:</strong>
  <%= @team.id %>
</p>

<table style="padding-left: 25px;">
  <tbody>
    <tr>
      <td>
        <strong>Money:</strong>
        <%= @team.money %>£
      </td>
    </tr>
    <tr>
      <td>
        <strong>Blue info:</strong>
        <%= @team.blue_info %> <div class="circle circle0"></div>
      </td>

      <td>
        <strong>Red info:</strong>
        <%= @team.red_info %> <div class="circle circle1"></div>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Green info:</strong>
        <%= @team.green_info %> <div class="circle circle2"></div>
      </td>

      <td>
        <strong>Orange info:</strong>
        <%= @team.orange_info %> <div class="circle circle3"></div>
      </td>
    </tr>
  </tbody>
</table>

<div class="payout">
  <strong>Outstanding Payout: </strong>
  <% @team.outstanding_payout.each_with_index do |o, i| %>
    <% if i == 0 %>
      <%=o%>£
    <% else %>
      <%=o%><div class="circle circle<%=i-1%>"></div>
    <% end %>
  <% end %>
</div>

<div class="payout">
  <strong>Upcoming Payout: </strong>
  <% @team.payout_properties.each_with_index do |o, i| %>
    <% if i == 0 %>
      <%=o%>£
    <% else %>
      <%=o%><div class="circle circle<%=i-1%>"></div>
    <% end %>
  <% end %>
</div>

<p><strong>In Progress Contracts:</strong></p>
<ul>
  <% @team.owned_contracts.each do |oc| %>
    <% contract = Contract.find(oc.contract_id) %>
    <li><%=link_to "#{contract.name}", contract%> <%="#{contract.money_output}, #{contract.info_output}, #{contract.item_output} -- Cashes out every #{contract.format_upkeep} hours:minutes" %>  </li>
  <% end %>
</ul>

<p><strong>Upcoming Rent Owed: </strong><%= @team.get_rent%>£</p>


<p><strong>Time Now: </strong><%= DateTime.now.strftime("%l:%M%P")%></p>

<p><strong>Next Payout Time: </strong><%= (@team.next_upkeep_hour-7.hours).strftime("%l:%M%P")%></p>

<p><strong>Owned Properties:</strong></p>
<ul>
  <% @team.owned_properties.each do |i| %>
    <% prop = Property.find(i.property_id) %>
    <li>Id <%=link_to "#{prop.id}", prop%>: Generating <%=prop.money_output%>£ per turn and <%= prop.info_output%> <div class="circle circle<%=prop.district%>"></div> per turn; Rent is <%=prop.price%>£ per turn</li>
  <% end %>

  <% if @team.owned_properties.empty? %>
    <li>No owned properties</li>
  <% end %>
</ul>

<div class="payout">
  <%= form_for @team, :url => buy_prop_path do |f| %>
  <%= f.label :Buy_Property %>
  <%= f.select :owned_properties, Property.all.map{|p| p.id if @team.money >= p.price && @team.owned_properties.map(&:property_id).exclude?(p.id)}.compact %>

  <%= f.submit %>
  <% end %>

</div>


<p><strong>In Progress Quests:</strong></p>
<ul>
  <% @team.recieved_quests.map{|q| q if q.status==1}.compact.each do |rq| %>
    <% quest = Quest.find(rq.quest_id) %>
    <li><%=link_to "#{quest.quest_name}", quest%></li>
  <% end %>
  <% if @team.recieved_quests.empty? %>
    <li>No active quests</li>
  <% end %>
</ul>

<div class="payout">
  <%= form_for @team, :url => recieve_quest_path do |f| %>
  <%= f.label :Recieve_Quest %>
  <%= f.select :recieved_quests, Quest.all.map{|q| q.quest_name if @team.recieved_quests.map(&:quest_id).exclude? q.id}.compact %>

  <%= f.submit %>
  <% end %>

</div>


<p><strong>Collected Clues:</strong></p>
<ul>
  <% @team.recieved_clues.each do |rc| %>
    <% clue = Clue.find(rc.clue_id) %>
    <li><%=link_to "#{clue.name}", clue%> <%= " -- Clue Subject: #{clue.clue_subject}; Clue Points: #{clue.points}"%></li>
  <% end %>
  <% if @team.recieved_clues.empty? %>
    <li>No collected clues</li>
  <% end %>
</ul>

<div class="payout">
  <%= form_for @team, :url => get_clue_path do |f| %>
  <%= f.label :Get_Clue %>
  <%= f.select :recieved_clues, Clue.all.map{|c| c.name if @team.recieved_clues.map(&:clue_id).exclude? c.id}.compact %>

  <%= f.submit %>
  <% end %>

</div>

<p><strong>SMS Response Log:</strong></p>
<ul>
  <% @messages.each do |m| %>
    <li><%=m%></li>
  <% end %>

  <% if @messages.empty? %>
    <li>No SMS responses</li>
  <% end %>
</ul>




<%= link_to 'Edit', edit_team_path(@team)  %> |

<%= link_to 'Back', teams_path %>
