<p id="notice"><%= notice %></p>

<h1>Debug Logs</h1>

<table class="table">
  <thead>
    <tr>
      <th>Log</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @debugs.each do |debug| %>
      <tr>
        <td><%= debug.log %></td>
        <td><%= debug.user %></td>
        <td><%= link_to 'Show', debug %></td>
        <td><%= link_to 'Edit', edit_debug_path(debug) %></td>
        <td><%= link_to 'Destroy', debug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Debug', new_debug_path %>
