<%= form_for(property) do |f| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.label :info_output %>
    <%= f.select :info_output, [1,2,3,4] %>
  </div>
  <div class="field">
    <%= f.label :number_of_output_times_per_hour %>
    <%= f.select :num_times_hour, [1,2,3,6] %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
