<%= form_for(clue) do |f| %>
  <% if clue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clue.errors.count, "error") %> prohibited this clue from being saved:</h2>

      <ul>
      <% clue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :day %>
    <%= f.select :day, [1,2,3] %>
  </div>

  <div class="field">
    <%= f.label :clue_subject %>
    <% case @clue.day %>
    <% when 1 %>
      <%= f.select :clue_subject, ["Dorothy Wimberly", "Erick Lewis", "Theodore Humphries", "London University"]%>
    <% else %>
      <%= f.select :clue_subject, ["Dorothy Wimberly", "Erick Lewis", "Theodore Humphries", "London University"]%>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :points %>
    <%= f.select :points, [1,2,3,4] %>
  </div>

  <div class="field">
    <%= f.label :quest_giver %>
    <%= f.select :quest_giver, ["Irene", "Kyle", "Paul", "Dwight"] %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
