<p id="notice"><%= notice %></p>

<h1>Clues</h1>
<%= button_to 'New Clue', new_clue_path, method: :get %>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Day</th>
      <th>Clue Subject</th>
      <th>Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clues.each do |clue| %>
      <tr>
        <td><%= clue.name %></td>
        <td><%= clue.description %></td>
        <td><%= clue.day %></td>
        <td><%= clue.clue_subject %></td>
        <td><%= clue.points %></td>
        <td><%= link_to 'Show', clue %></td>
        <td><%= link_to 'Edit', edit_clue_path(clue) %></td>
        <td><%= link_to 'Destroy', clue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
