<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @clue.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @clue.description %>
</p>

<p>
  <strong>Day:</strong>
  <%= @clue.day %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @clue.clue_subject %>
</p>

<p>
  <strong>Points:</strong>
  <%= @clue.points %>
</p>

<p><strong>Teams Who Have Recieved Clue:</strong></p>
<ul>
  <% RecievedClue.where(clue_id: @clue.id).each do |rc| %>
    <% team = Team.find(rc.team_id) %>
    <li><%=link_to "#{team.guild_name}", team%> -- Phone Number: <%= team.phone_num%>, Total Clue Points: <%=Clue.find(team.recieved_clues.map(&:clue_id)).map(&:points).sum %></li>
  <% end %>
  <%= "<li>No teams have recieved this clue.</li>".html_safe if RecievedClue.where(clue_id: @clue.id).empty? %>
</ul>


<%= link_to 'Edit', edit_clue_path(@clue) %> |
<%= link_to 'Back', clues_path %>
